*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Navbar Section Start */
.navbar .nav-link{
    color: black;
}
.navbar .nav-link:hover{
    color: rgb(138, 137, 137);
}
.navbar .dropdown:hover .dropdown-menu{
    display: block;
}
.onlineEnquiry{
    background-color: rgb(66, 122, 9);
}
.onlineEnquiry:hover{
    background-color: rgb(104, 196, 12);
    box-shadow: 1px 1px 15px 4px red;
    transition: all 0.3s ease-in-out;
}
/* Navbar Section End */
/* Buying Section Start */
.buying{
    background-color: rgb(238, 238, 240);
}
.buying p{
    font-size: 14px;
    letter-spacing: 1px;
}
/* Buying Section End */
/* Relax Section Start */
.relax button{
    border: 3px solid rgb(16, 16, 109);
    color: rgb(16, 16, 109);
    background-color: white;
}
.relax button:hover{
    background-color:rgb(16, 16, 109);
    color: white;
    transition: all 0.3s ease-in-out;
}
.relax p{
    font-size: 14px;
    color: rgb(71, 71, 71);
    letter-spacing: 1px;
}
.relax .relax_head{
    color: rgb(119, 28, 28);
    font-style: italic;
}
.relax .relax_box{
    background-color: rgb(238, 238, 240);
}
/* Relax Section End */
/* Our Project Section Start */
.project p{
    font-size: 14px;
}
.project button{
    border: 1px solid rgb(16, 16, 109);
    color: rgb(16, 16, 109);
    background-color: white;
}
.project button:hover{
    background-color:rgb(16, 16, 109);
    color: white;
    transition: all 0.3s ease-in-out;
}
/* Our Project Section End */
/* Customer Service Section Start */
.service{
    background-color: rgb(238, 238, 240);
}
.service p{
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 1px;
}
/* Customer Service Section End */
/* Footer Section Start */
.footer_top{
    background-color: rgb(44, 44, 44);
}
.footer_top li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(204, 203, 203);
}
.footer_end p{
    font-size: 12px;
    padding-top: 4px;
}
/* Footer Section End */